.DS_Store
node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css
/public/images
/public/js
/public/vendor
/public/vendors~*
/public/fonts
/public/mix-manifest.json
/.idea
storage/testing.sqlite
/tests/.reports
.php_cs.cache
/public/xlsx.js
public/styleguide
.favorites.json
public/vendors~canvg.js
public/vendors~pdfmake.js
public/vendors~xlsx.js
.rnd